* {
    margin: 0;
    padding: 0;
}

.font-style-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    padding: 16px 120px;
    width: 139px;
}

#web-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    background-color: rgba(48, 184, 104, 1);
    border: none;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}


.hero-parents {
    height: 100vh;
    background: url(../assets/hero-bg.png), rgba(0, 25, 49, 0.8);
    background-size: cover;
    background-position: center;
}


.hero-container {
    height: 100%;
    /* background: rgba(0, 25, 49, 0.8);  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 154.5px 341px;
}

.hero-content {
    /* max-width: 1600px; */
    color: rgba(255, 255, 255, 1);
    text-align: center;
    gap: 16;
}

.access {
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    color: rgba(48, 184, 104, 1);
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 24px;
    justify-content: center;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero-content h1 span {
    color: rgba(48, 184, 104, 1);
}

.hero-content p {
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center
}

.btn-1 {
    background: rgba(48, 184, 104, 1);
    color: rgba(255, 255, 255, 1);
    ;
    padding: 16.5px 16px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
}

.btn-2 {
    background: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 16px 16px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
}

#notes {
    padding: 44px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#note .note-container {
    max-width: 1360px;

}

.note-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.section-heading {
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;

}

.section-heading p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
}

.note-box .note-card {
    padding: 24px;
    max-width: 322px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    background: rgba(255, 255, 255, 1);
}

.note-card img {
    max-width: 60px;
    background-color: rgba(249, 85, 85, 1);
    width: 32px;
    height: 32px;
    padding: 14.04px 13.96px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.note-card h3 {
    font-size: 24px;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.note-card p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    line-height: 20px;

}

#second-brain {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;

}

.solution {
    background-color: rgba(255, 255, 255, 1);
    width: 700px;
    justify-content: center;
    align-items: center;
    gap: 16;
}

.second-brain-container {
    display: flex;
    gap: 40px;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
}

.second-brain-images img {
    max-width: 600px;
    height: auto;
    padding-right: 60px;
    border-radius: 12px;
}

.solution-heading h3 {
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 16px;
}

.solution-heading h1 {
    color: rgba(0, 25, 49, 1);
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;

}

.solution-heading p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.solution-list li {
    list-style: none;
    margin-bottom: 16px;
}

.solution-list p {
    width: 700px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6;
}

.solution-list img {
    width: 20px;
    height: 20px;
}