* {
    margin: 0;
    padding: 0;
}

.font-style-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    padding: 16px 120px;
    width: 139px;
}
#web-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    background-color: #30B868;
    border: none;
    border: 1px solid #000000;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size:16px;
    cursor: pointer;
}